#dialog-overlay {
	width: 100%; 
	height: 100%;
	position: fixed; 
	top: 0;
	left: 0; 
	display: none;
	z-index: 3000; 

	/* transparency for different browsers */
	filter:alpha(opacity=50); 
	-moz-opacity:0.5; 
	-khtml-opacity: 0.5; 
	opacity: 0.5; 
	background:#000; 
}


			#dialog-box {
	
				/* css3 drop shadow */
				-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
				-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
		
				/* styling of the dialog box, i have a fixed dimension for this demo */ 
				width: 350px;
				background:#e2e4e3;	

				/* make sure it has the highest z-index */
				position:fixed; 
				z-index:5000; 

				/* hide it by default */
				display:none;
				top: 50%;
				left: 50%;
			}

			#dialog-box .dialog-content {
				
				/* style the content */
				text-align:left; 
	 
				font-family:10pt/1 Arial,Helvetica,sans-serif;
				font-size:100%;
	 
				font-weight:normal;
				height:auto;
				
				background:#e2e4e3;	

			}

#dialog-box #dialog-message {
	background: url("../images/large_exclamation.png") no-repeat 290px 15px;
	padding: 15px 80px 15px 15px;
	text-align: justify;
	line-height: 1.2;
}
			
			#dialog-box #dialog-row {
				
				padding: 10px 15px 10px;
				line-height: 24px;

			}

			#dialog-box #dialog-actions {
				
    			text-align: right;

			}

			
			#dialog-box #dialog-header {
				
			    padding: 10px 0 10px 15px;;				
				background: -moz-linear-gradient(center top , #AFB1B1 0%, #D9DCDB 
				50%, #AFB1B1 100%) repeat scroll 0 0 transparent;
				
			}

			a{
				text-decoration: none;
			}
			
			a.default-button{
				display: inline-block;
				
				border: 2px solid #FFFFFF;
			    border-radius: 11px 11px 11px 11px;
    			box-shadow: 0 0 3px 0 #999999;
			    color: #FFFFFF;
			    cursor: pointer;
			    font: bold 8.5pt/16px Arial,Helvetica,sans-serif;
			    padding: 2px 10px;
			  
			  	/*Default bg*/
				background: -moz-linear-gradient(center top , #00BCF1 0%, #0098D8 50%, 
				#0073BD 51%, #008FD5 100%) repeat scroll 0 0 transparent;
				
			  	text-align: center;
			    vertical-align: middle;
				
			}
			
			a.red-button{
				
			  	/*Default bg*/
				background: -moz-linear-gradient(center top , #E64E56 0%, #E64E56 50%, 
				#CC2C17 51%, #CC2C17 100%) repeat scroll 0 0 transparent;
				
			}
			
			#horizontal-separator{
				background: none repeat scroll 0 0 #999999;
			    border: medium none;
			    color: #999999;
			    height: 2px;
			    margin: 0 15px;
			    clear: left;
			}
