<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="mailServiceForTimers" class="com.zuehlke.pgadmissions.services.MailService"  autowire-candidate="false">
		<constructor-arg index="0" ref="mimeMessagePreparatorFactory"/>
		<constructor-arg index="1" ref="mailSender"/>
		<constructor-arg index="2" ref="mailApplicationsService"/>
	</bean>
	
	<bean id="refereeMailSender" class="com.zuehlke.pgadmissions.mail.RefereeMailSender"  autowire-candidate="false">
		<constructor-arg index="0" ref="mimeMessagePreparatorFactory"/>
		<constructor-arg index="1" ref="mailSender"/>
	</bean>
	
		
	<bean id="applicantMailSender" class="com.zuehlke.pgadmissions.mail.ApplicantMailSender"  autowire-candidate="false">
		<constructor-arg index="0" ref="mimeMessagePreparatorFactory"/>
		<constructor-arg index="1" ref="mailSender"/>
	</bean>
	
	<bean id="mailApplicationDAO" class="com.zuehlke.pgadmissions.dao.ApplicationFormDAO" autowire-candidate="false">
		<constructor-arg ref="sessionFactoryMail"/>
	</bean>
	<bean id="mainRefereeDAO" class="com.zuehlke.pgadmissions.dao.RefereeDAO" autowire-candidate="false">
		<constructor-arg ref="sessionFactoryMail"/>
	</bean>
	
	<bean id="mailRoleDAO" class="com.zuehlke.pgadmissions.dao.RoleDAO" autowire-candidate="false">
		<constructor-arg ref="sessionFactoryMail"/>
	</bean>	
		
	<bean id="mailUserDAO" class="com.zuehlke.pgadmissions.dao.UserDAO" autowire-candidate="false">
		<constructor-arg ref="sessionFactoryMail"/>
	</bean>
	<bean id="mailUserService" class="com.zuehlke.pgadmissions.services.UserService"  autowire-candidate="false">
		<constructor-arg index="0" ref="mailUserDAO"/>
		<constructor-arg index="1" ref="mailRoleDAO"/>
		<constructor-arg index="2" ref="mimeMessagePreparatorFactory"/>
		<constructor-arg index="3" ref="mailSender"/>
	</bean>
	<bean id="mailRefereeService" class="com.zuehlke.pgadmissions.services.RefereeService"  autowire-candidate="false">
		<constructor-arg index="0" ref="mainRefereeDAO"/>
		<constructor-arg index="1" ref="mimeMessagePreparatorFactory"/>
		<constructor-arg index="2" ref="mailSender"/>
		<constructor-arg index="3" ref="mailUserService"/>
		<constructor-arg index="4" ref="mailRoleDAO"/>
	</bean>
	<bean id="mailApplicationsService" class="com.zuehlke.pgadmissions.services.ApplicationsService"  autowire-candidate="false">
		<constructor-arg ref="mailApplicationDAO"/>
	</bean>

	<!--  admin reminders -->	
	<bean id="adminValidationReminderTimerTask" class="com.zuehlke.pgadmissions.timers.AdminValidationReminderTimerTask" >
		<property name="service" ref="mailServiceForTimers" />
		<property name="applicationsService" ref="mailApplicationsService" />
		<property name="sessionFactory" ref="sessionFactoryMail" />
	</bean>

	<bean id="adminValidationReminderSchedule" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="delay" value="2000" />
		<property name="period" value="60000" />
		<property name="timerTask" ref="adminValidationReminderTimerTask" />		
	</bean>  
	
	<!--  referee notification -->
	<bean id="refereeNotificationTimerTask" class="com.zuehlke.pgadmissions.timers.RefereeNotificationTask" >
		<constructor-arg index="0" ref="sessionFactoryMail"/>
		<constructor-arg index="1" ref="refereeMailSender"/>
		<constructor-arg index="2" ref="mainRefereeDAO"/>
		<constructor-arg index="3" ref="mailRefereeService"/>
	</bean>

	<bean id="refereeNotificationSchedule" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="delay" value="3000" />
		<property name="period" value="60000" />
		<property name="timerTask" ref="refereeNotificationTimerTask" />		
	</bean> 
	
	<!--  referee remindeers -->
	<bean id="refereeReminderTimerTask" class="com.zuehlke.pgadmissions.timers.RefereeReminderTask" >
		<constructor-arg index="0" ref="sessionFactoryMail"/>
		<constructor-arg index="1" ref="refereeMailSender"/>
		<constructor-arg index="2" ref="mainRefereeDAO"/>
	</bean>

	<bean id="refereeReminderSchedule" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="delay" value="4000" />
		<property name="period" value="60000" />
		<property name="timerTask" ref="refereeReminderTimerTask" />		
	</bean> 
	
	
	<!--  update notifications -->	
	<bean id="updateNotificationTimerTask" class="com.zuehlke.pgadmissions.timers.ApplicationUpdatedNotificationTask" >
		<constructor-arg index="0" ref="sessionFactoryMail"/>
		<constructor-arg index="1" ref="mailServiceForTimers"/>
		<constructor-arg index="2" ref="mailApplicationsService"/>
	</bean>

	<bean id="updateNotificationSchedule" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="delay" value="5000" />
		<property name="period" value="60000" />
		<property name="timerTask" ref="updateNotificationTimerTask" />		
	</bean> 
	
	
	<!-- move to review notifications -->	
	<bean id="moveToReviewNotificationTimerTask" class="com.zuehlke.pgadmissions.timers.MoveToReviewNotificationTask" >
		<constructor-arg index="0" ref="sessionFactoryMail"/>
		<constructor-arg index="1" ref="mailApplicationDAO"/>
		<constructor-arg index="2" ref="applicantMailSender"/>
	</bean>

	<bean id="moveToReviewNotificationSchedule" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="delay" value="10000" />
		<property name="period" value="60000" />
		<property name="timerTask" ref="moveToReviewNotificationTimerTask" />		
	</bean> 
	
	
	
	<!-- The main schedule -->
	<bean class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
		<list>
			<ref bean="adminValidationReminderSchedule"/>
			<ref bean="refereeReminderSchedule"/>
			<ref bean="refereeNotificationSchedule"/>
			<ref bean="updateNotificationSchedule"/>
			<ref bean="moveToReviewNotificationSchedule"/>
		</list>
		</property>
	</bean>
	
	
	<bean id="sessionFactoryMail"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" autowire-candidate="false">

		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses" ref="entities"/>
		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
				<prop key="javax.persistence.validation.mode">NONE</prop>
			
			</props>
		</property>
	</bean>
</beans>