<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="mailService" class="com.zuehlke.pgadmissions.services.MailService"  autowire-candidate="false">
	</bean>
	
	<bean id="mailApplicationDAO" class="com.zuehlke.pgadmissions.dao.ApplicationFormDAO" autowire-candidate="false">
		<constructor-arg ref="sessionFactoryMail"/>
	</bean>
	
	<bean id="mailApplicationsService" class="com.zuehlke.pgadmissions.services.ApplicationsService"  autowire-candidate="false">
	<constructor-arg ref="mailApplicationDAO"/>
	</bean>

	<bean id="mailTimerTask" class="com.zuehlke.pgadmissions.utils.MailTimerTask" >
		<property name="service" ref="mailService" />
		<property name="applicationsService" ref="mailApplicationsService" />
		<property name="sessionFactory" ref="sessionFactoryMail" />
	</bean>

	<bean id="scheduledMailTimerTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="delay" value="2000" />
		<property name="period" value="3000" />
		<property name="timerTask" ref="mailTimerTask" />		
	</bean> 

	<bean class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
		<list>
			<ref bean="scheduledMailTimerTask"/>
		</list>
		</property>
	</bean>
	
	
	<bean id="sessionFactoryMail"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" autowire-candidate="false">

		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses" ref="entities"/>
		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
				<prop key="javax.persistence.validation.mode">NONE</prop>
			
			</props>
		</property>
	</bean>
</beans>