@charset "utf-8";

/* LOGIN page -------------------------------------------------------------------------------------------- */
#login-box {
	background: white;

	/* Mofified height from 108px to auto - Manish*/
	border-radius: 4px; color: #58585a; font-size: 8.5pt; font-weight: bold; height: auto; position: absolute; right: 35px; top: 35px; width: 330px;
	padding-bottom: 0px;
	box-shadow: 0 0 3px 1px #888888;
}
#login-box em { color: red;}
#login-box label { width: 70px;}
.form-horizontal .controls {	margin-left: 105px;}
#login-box .control-group {	margin-bottom: 14px;}
#login-box .alert {	margin-bottom: 0px !important; margin-top: 10px !important; padding: 8px; padding-left: 22px; line-height: 1.4em;}
#login-box .alert i{ margin-left: -14px;}
#login-box form { padding: 0px 14px 0; margin-bottom: 0px; }
#login-box p { line-height: 18px; }
#login-box legend {	border-bottom: none; color: #58585A; margin-bottom: 6px;}
legend + .control-group {
	margin-top: 0px !important;
}

/* Added float:left - Manish*/
#login-box a { font-size: 12px;}
/* Changed Error msg - Manish*/
#login-box form span.invalid { color:white; margin-top: 10px;}