@charset "utf-8";

/* LOGIN page -------------------------------------------------------------------------------------------- */
#login-box {
	background: #828386 url(../../images/bg_login_box.jpg) repeat-x; /* Old browsers */
	background: -moz-linear-gradient(top, #e6e6e7 0%, #828386 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e7), color-stop(100%,#828386)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e6e6e7 0%,#828386 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e6e6e7 0%,#828386 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e6e6e7 0%,#828386 100%); /* IE10+ */
	background: linear-gradient(top, #e6e6e7 0%,#828386 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e7', endColorstr='#828386',GradientType=0 ); /* IE6-9 */
	/* Mofified height from 108px to auto - Manish*/
	border-radius: 10px; color: #58585a; font-size: 8.5pt; font-weight: bold; height: auto; position: absolute; right: 35px; top: 35px; width: 240px;
	padding-bottom: 10px;
}
#login-box em {	color: red;}
#login-box form { padding: 10px; }
#login-box p { line-height: 18px; }
#login-box form button { position: absolute; bottom: 10px; margin-top: 0; right: 10px; width: 50px; }
#login-box form input { font-size: 8.5pt; margin-top: 3px; width: 212px; }

/* Added float:left - Manish*/
#login-box a {  color: white; font-size: 8.5pt; margin: 10px; margin-top: 0px; float:left;}
/* Changed Error msg - Manish*/
#login-box form span.invalid { color:white; margin-top: 10px;}