@charset "utf-8";

/* Additional information ---------------------------------------------------------------------------- */

/* Background */
section.form-rows.lightblue > div { background: #EAF2F7; }

/* Border colours */
section.form-rows.lightblue > div,
section.form-rows.lightblue table.existing,
section.form-rows.lightblue div.buttons { border-color: #4D9FC0; }

/* Buttons / existing rows areas */
section.form-rows.lightblue table.existing, section.form-rows.lightblue div.buttons { background: #CCE4E7; }

/* Buttons and table headers. */
section.form-rows.lightblue h2,
section.form-rows.lightblue div.add a.button,
#view-toolbar li#tool-information a {
	background: #97BFDF;
	/* Old gradient */
	/*background: rgb(151,191,223); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk3YmZkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzk3YmZkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzQ0OWJiYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5N2JmZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	/*background: -moz-linear-gradient(top,  rgba(151,191,223,1) 0%, rgba(151,191,223,1) 50%, rgba(68,155,188,1) 51%, rgba(151,191,223,1) 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(151,191,223,1)), color-stop(50%,rgba(151,191,223,1)), color-stop(51%,rgba(68,155,188,1)), color-stop(100%,rgba(151,191,223,1))); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  rgba(151,191,223,1) 0%,rgba(151,191,223,1) 50%,rgba(68,155,188,1) 51%,rgba(151,191,223,1) 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  rgba(151,191,223,1) 0%,rgba(151,191,223,1) 50%,rgba(68,155,188,1) 51%,rgba(151,191,223,1) 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  rgba(151,191,223,1) 0%,rgba(151,191,223,1) 50%,rgba(68,155,188,1) 51%,rgba(151,191,223,1) 100%); /* IE10+ */
	/*background: linear-gradient(top,  rgba(151,191,223,1) 0%,rgba(151,191,223,1) 50%,rgba(68,155,188,1) 51%,rgba(151,191,223,1) 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97bfdf', endColorstr='#97bfdf',GradientType=0 ); /* IE6-8 */
}
