@charset "utf-8";

/* Documents ----------------------------------------------------------------------------------------- */

/* Background */
section.form-rows.blue > div { background: #EBF4F5; }

/* Border colours */
section.form-rows.blue > div,
section.form-rows.blue table.existing,
section.form-rows.blue div.buttons { border-color: #008898; }

/* Buttons / existing rows areas */
section.form-rows.blue table.existing, section.form-rows.blue div.buttons { background: #CCE4E7; }

/* Buttons and table headers. */
section.form-rows.blue h2,
section.form-rows.blue div.add a.button,
#view-toolbar li#tool-documents a {
	background: #36ACC5;
	/* Old gradient */
	/* background: rgb(54,172,197); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	/* background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM2YWNjNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzFiODhhYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzAyNjk5NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzN2E1YmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	/* background: -moz-linear-gradient(top,  rgba(54,172,197,1) 0%, rgba(27,136,171,1) 50%, rgba(2,105,148,1) 51%, rgba(55,165,187,1) 100%); /* FF3.6+ */
	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(54,172,197,1)), color-stop(50%,rgba(27,136,171,1)), color-stop(51%,rgba(2,105,148,1)), color-stop(100%,rgba(55,165,187,1))); /* Chrome,Safari4+ */
	/* background: -webkit-linear-gradient(top,  rgba(54,172,197,1) 0%,rgba(27,136,171,1) 50%,rgba(2,105,148,1) 51%,rgba(55,165,187,1) 100%); /* Chrome10+,Safari5.1+ */
	/* background: -o-linear-gradient(top,  rgba(54,172,197,1) 0%,rgba(27,136,171,1) 50%,rgba(2,105,148,1) 51%,rgba(55,165,187,1) 100%); /* Opera 11.10+ */
	/* background: -ms-linear-gradient(top,  rgba(54,172,197,1) 0%,rgba(27,136,171,1) 50%,rgba(2,105,148,1) 51%,rgba(55,165,187,1) 100%); /* IE10+ */
	/* background: linear-gradient(top,  rgba(54,172,197,1) 0%,rgba(27,136,171,1) 50%,rgba(2,105,148,1) 51%,rgba(55,165,187,1) 100%); /* W3C */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36acc5', endColorstr='#37a5bb',GradientType=0 ); /* IE6-8 */
}
section.form-rows.blue table.existing th { background-position: 0 -150px; }
