@charset "utf-8";

/* Qualifications ------------------------------------------------------------------------------------ */

/* Background */
section.form-rows.orange > div { background: #FFF9F6; }

/* Border colours 
section.form-rows.orange > div,
section.form-rows.orange table.existing,
section.form-rows.orange div.buttons { border-color: #F58149; }*/

/* Buttons / existing rows areas */
section.form-rows.orange table.existing, section.form-rows.orange div.buttons { background: #FEE8D9; }

/* Buttons and table headers. */
section.form-rows.orange h2,
section.form-rows.orange div.add a.button,
#view-toolbar li#tool-qualification a {
	background: #EF723A;
	/* Old gradient */
	/*background: rgb(239,114,58); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	/* background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmNzIzYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2M2NDIyYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2IxMjQyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYjZmMzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	/* background: -moz-linear-gradient(top,  rgba(239,114,58,1) 0%, rgba(198,66,44,1) 50%, rgba(177,36,38,1) 51%, rgba(235,111,57,1) 100%); /* FF3.6+ */
	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,114,58,1)), color-stop(50%,rgba(198,66,44,1)), color-stop(51%,rgba(177,36,38,1)), color-stop(100%,rgba(235,111,57,1))); /* Chrome,Safari4+ */
	/* background: -webkit-linear-gradient(top,  rgba(239,114,58,1) 0%,rgba(198,66,44,1) 50%,rgba(177,36,38,1) 51%,rgba(235,111,57,1) 100%); /* Chrome10+,Safari5.1+ */
	/* background: -o-linear-gradient(top,  rgba(239,114,58,1) 0%,rgba(198,66,44,1) 50%,rgba(177,36,38,1) 51%,rgba(235,111,57,1) 100%); /* Opera 11.10+ */
	/* background: -ms-linear-gradient(top,  rgba(239,114,58,1) 0%,rgba(198,66,44,1) 50%,rgba(177,36,38,1) 51%,rgba(235,111,57,1) 100%); /* IE10+ */
	/* background: linear-gradient(top,  rgba(239,114,58,1) 0%,rgba(198,66,44,1) 50%,rgba(177,36,38,1) 51%,rgba(235,111,57,1) 100%); /* W3C */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef723a', endColorstr='#eb6f39',GradientType=0 ); /* IE6-8 */
}

section.form-rows.orange table.existing th { background-position: 0 -50px; }
