@charset "utf-8";

/* References ---------------------------------------------------------------------------------------- */

/* Background */
section.form-rows.navy > div { background: #E5E8F1; }

/* Border colours 
section.form-rows.navy > div,
section.form-rows.navy table.existing,
section.form-rows.navy div.buttons { border-color: #285F93; }*/

/* Buttons / existing rows areas */
section.form-rows.navy table.existing, section.form-rows.navy div.buttons { background: #D0D7E7; }

/* Buttons and table headers. */
section.form-rows.navy h2,
section.form-rows.navy div.add a.button,
#view-toolbar li#tool-references a {
	background: #11374F;
	/* Old gradient */
	/*background: rgb(17,55,79); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzExMzc0ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzBiMjQzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzA3MTMxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNTM0NDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	/*background: -moz-linear-gradient(top,  rgba(17,55,79,1) 0%, rgba(11,36,53,1) 50%, rgba(7,19,29,1) 51%, rgba(21,52,72,1) 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,55,79,1)), color-stop(50%,rgba(11,36,53,1)), color-stop(51%,rgba(7,19,29,1)), color-stop(100%,rgba(21,52,72,1))); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  rgba(17,55,79,1) 0%,rgba(11,36,53,1) 50%,rgba(7,19,29,1) 51%,rgba(21,52,72,1) 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  rgba(17,55,79,1) 0%,rgba(11,36,53,1) 50%,rgba(7,19,29,1) 51%,rgba(21,52,72,1) 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  rgba(17,55,79,1) 0%,rgba(11,36,53,1) 50%,rgba(7,19,29,1) 51%,rgba(21,52,72,1) 100%); /* IE10+ */
	/*background: linear-gradient(top,  rgba(17,55,79,1) 0%,rgba(11,36,53,1) 50%,rgba(7,19,29,1) 51%,rgba(21,52,72,1) 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11374f', endColorstr='#153448',GradientType=0 ); /* IE6-8 */
}
section.form-rows.navy table.existing th { background-position: 0 -125px; }

/* Table with scrolling content and fixed header. */
#refereesTable td.scrollparent { padding: 0; }
#refereesTable td.scrollparent .button-edit, #existingUsers td.scrollparent .button-delete { margin: 0 }
#refereesTable .scroll { max-height: 169px; overflow: auto; } /* roughly five rows high. */
#refereesTable .scroll table { border-collapse: collapse; width: 100%; }
