          <!-- Address -->
          <section class="folding red">
            <h2 class="empty">
              <span class="left"></span><span class="right"></span><span class="status"></span>
              Address
            </h2>
            <div>
            	<table class="existing">
              	<colgroup>
                	<col style="width: 30px" />
                	<col />
                	<col style="width: 100px" />
                	<col style="width: 100px" />
                	<col style="width: 30px" />
                	<col style="width: 30px" />
                </colgroup>
              	<thead>
                	<tr>
                  	<th colspan="2">Address</th>
                    <th>From</th>
                    <th>To</th>
                    <th colspan="2">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                	<tr>
                  	<td><a class="row-arrow" href="#">-</a></td>
                  	<td>123 Letsby Avenue, Croydon, Surrey AS3 0LI</td>
                  	<td>21/07/11</td>
                  	<td>19/05/12</td>
                  	<td><a class="button-edit" href="#">edit</a></td>
                  	<td><a class="button-close" href="#">close</a></td>
                  </tr>
                	<tr>
                  	<td><a class="row-arrow" href="#">-</a></td>
                  	<td>124 Letsby Avenue, Croydon, Surrey AS3 0LI</td>
                  	<td>18/07/10</td>
                  	<td>19/07/11</td>
                  	<td><a class="button-edit" href="#">edit</a></td>
                  	<td><a class="button-close" href="#">close</a></td>
                  </tr>
                </tbody>
              </table>
              <form method="post" action="woooop">

              	<div>
                	<div class="row">
                  	<label class="label">Street Name &amp; Number</label>
                    <span class="hint"></span>
                    <div class="field">
                    	<textarea class="max" rows="6" cols="80"></textarea>
                    </div>
                  </div>
                	<div class="row">
                  	<label class="label">Postal Code</label>
                    <span class="hint"></span>
                    <div class="field">
                    	<input class="half" type="text" value="" />
                    </div>
                  </div>
                	<div class="row">
                  	<label class="label">Country</label>
                    <div class="field">
                      <select class="full">
                        <option>United Kingdom</option>
                      </select>
                    </div>
                  </div>
                	<div class="row">
                  	<span class="label">Start Date</span>
                    <span class="hint"></span>
                    <div class="field">
	                    <input class="half" type="date" value="" />
                    </div>
                  </div>
                	<div class="row">
                  	<span class="label">End Date</span>
                    <span class="hint"></span>
                    <div class="field">
  	                  <input class="half" type="date" value="" />
                    </div>
                  </div>
                	<div class="row">
                  	<span class="label">Supporting Document</span>
                    <span class="hint"></span>
                    <div class="field">
                      <input class="full" type="text" value="" />
                      <a class="button" href="#">Browse</a>
                      <a class="button" href="#">Upload</a>
                    </div>	
                  </div>
                	<div class="row">
                  	<div class="field"><a class="button blue" href="#">Add a document</a></div>
                  </div>
                	<div class="row">
                  	<span class="label">This is my contact address</span>
                    <div class="field">
                    	<label class="half"><input type="checkbox" /></label>
                    	<label>Reason for living here
                      <select class="half">
                        <option>parents</option>
                      </select>
                      </label>
                    </div>
                  </div>
                </div>

              	<div class="buttons">
                  <a class="button blue" href="#">Close</a>
                  <button class="blue" type="submit">Save</button>
                </div>

              </form>
            </div>
          </section>
