<!--
 ------------------------------------------------------------
| DOCUMENTS section
 ------------------------------------------------------------
   - Similar to "one or more" sections.
-->
           <section class="folding blue">
            <h2 class="empty">
              <span class="left"></span><span class="right"></span><span class="status"></span>
              Documents
            </h2>
            <div>
              <table class="existing">
                <colgroup>
                  <col style="width: 30px" />
                  <col style="width: 150px" />
                  <col />
                  <col style="width: 120px" />
                  <col style="width: 30px" />
                </colgroup>
                <thead>
                  <tr>
                    <th colspan="2">Document Type</th>
                    <th>Document Name</th>
                    <th>Date Uploaded</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a class="row-arrow" href="#">-</a></td>
                    <td>Personal Statement</td>
                    <td>Applicant_Dash_Review_Funding</td>
                    <td>19/05/12</td>
                    <td><a class="button-delete" href="#">delete</a></td>
                  </tr>
                </tbody>
              </table>
              
              <form method="post" action="woooop">
                <div>
                
                  <!-- Document type -->
                  <div class="row">
                    <span class="label">Type</span>
                    <span class="hint"></span>
                    <div class="field">
                      <select class="full">
                        <option>CV / resume</option>
                        <option>Personal statement</option>
                      </select>
                    </div>  
                  </div>

                  <!-- Document upload -->
                  <div class="row">
                    <span class="label">Document</span>
                    <span class="hint"></span>
                    <div class="field">
                      <input class="full" type="text" value="" />
                      <a class="button" href="#">Browse</a>
                      <a class="button" href="#">Upload</a>
                    </div>  
                  </div>
                </div>

                <div class="buttons">
                  <a class="button" href="#">Cancel</a>
                  <button class="blue" type="submit" value="close">Save and Close</button>
                  <button class="blue" type="submit" value="add">Save and Add</button>
                </div>

              </form>
            </div>
          </section>
