           <section class="folding green">
            <h2 class="empty">
              <span class="left"></span><span class="right"></span><span class="status"></span>
              Funding
            </h2>
            <div>
            	<table class="existing">
              	<colgroup>
                	<col style="width: 30px" />
                	<col style="width: 120px" />
                	<col />
                	<col style="width: 120px" />
                	<col style="width: 30px" />
                	<col style="width: 30px" />
                </colgroup>
              	<thead>
                	<tr>
                  	<th colspan="2">Funding Type</th>
                    <th>Awarding Body</th>
                    <th>Issue Date</th>
                    <th colspan="2">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                	<tr>
                  	<td><a class="row-arrow" href="#">-</a></td>
                  	<td>Other</td>
                  	<td>Lorem Ipsum Doctorates</td>
                  	<td>19/05/12</td>
                  	<td><a class="button-edit" href="#">edit</a></td>
                  	<td><a class="button-close" href="#">close</a></td>
                  </tr>
                </tbody>
              </table>
              <div class="add buttons">
                <a class="button" href="#">Add Another Award</a>
              </div>
              
              <form method="post" action="woooop">

              	<div>
                	<div class="row">
                  	<label class="label">Funding Source</label>
                    <span class="hint"></span>
                    <div class="field">
                      <select class="full">
                        <option>United Kingdom</option>
                      </select>
                    </div>
                  </div>
                	<div class="row">
                  	<label class="label">Description</label>
                    <span class="hint"></span>
                    <div class="field">
                      <input class="full" type="text" value="" />
                    </div>
                  </div>
                </div>
                
                <div>
                	<p><strong>Award</strong></p>
                  
                	<div class="row">
                  	<label class="label">Value of Award</label>
                    <span class="hint"></span>
                    <div class="field">
                    	<input class="full" type="text" value="" />
                    </div>
                  </div>
                  
                	<div class="row">
                  	<span class="label">Issue Date</span>
                    <span class="hint"></span>
                    <div class="field">
	                    <input class="half" type="date" value="" />
                    </div>
                  </div>
                  
                	<div class="row">
                  	<span class="label">Expiry Date</span>
                    <span class="hint"></span>
                    <div class="field">
	                    <input class="half" type="date" value="" />
                    </div>
                  </div>
                  
                	<div class="row">
                  	<span class="label">Supporting Document</span>
                    <span class="hint"></span>
                    <div class="field">
                      <input class="full" type="text" value="" />
                      <a class="button" href="#">Browse</a>
                      <a class="button" href="#">Upload</a>
                      <a class="button plus" href="#">Add Another</a>
                    </div>	
                  </div>

                	<div class="row">
                  	<label class="label">Description</label>
                    <span class="hint"></span>
                    <div class="field">
                    	<input class="full" type="text" value="" placeholder="e.g. Letter of employment" />
                    </div>
                  </div>
                  
                </div>

              	<div class="buttons">
                  <a class="button blue" href="#">Close</a>
                  <button class="blue" type="submit">Save</button>
                </div>

              </form>
            </div>
          </section>
