<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Shell template</title>

<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<!-- Let Internet Explorer 8 and below recognise HTML5 tags. -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link type="text/css" rel="stylesheet" href="../css/private/global_private.css" />
<link type="text/css" rel="stylesheet" href="../css/public/login.css" />
</head>

<!-- UPDATED: using conditional comments for IE to add a class to the body tag, based on the IE version number. -->
<!--[if IE 9]>
<body class="ie9">
<![endif]-->
<!--[if lt IE 9]>
<body class="old-ie">
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<body>
<!--<![endif]-->

<div id="wrapper">

  <!-- Header. -->
  <div id="header">
    <p>Postgraduate Research Admissions Tool</p>
  </div>
  
  <!-- Middle. -->
  <div id="middle">
  
    <header>
      <!-- App logo and tagline. -->
      <div class="logo"><img src="../images/ph_logo_login.png" alt="" /></div>
      <div class="tagline">Your Gateway to<br />Research Opportunities</div>
    </header>
    
    <!-- Main content area. -->
    <article id="content" role="main">
      <!-- inner template goes here. -->
    </article>
        
  </div>
  
  <!-- Footer. -->
  <div id="footer">
    <ul>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Terms &amp; conditions</a></li>
      <li><a href="#">Contact us</a></li>
      <li><a href="#">Glossary</a></li>
    </ul>
  </div>

</div>

<!-- Scripts -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="../js/libraries.js"></script>
<script type="text/javascript" src="../js/script.js"></script>
</body>
</html>