					<div id="feedback">

						<ul class="key">
            	<li><img src="images/circle_attention.png" alt="" /> Attention</li>
            	<li><img src="images/circle_stopped.png" alt="" /> Stopped</li>
            	<li><img src="images/circle_in_progress.png" alt="" /> In Progress</li>
            	<li><img src="images/circle_complete.png" alt="" /> Completed</li>
            </ul>
                                
          	<div class="row complete">
            	<div class="bar">
                <strong>Application started</strong>
                All sections commenced
                <span class="more">More...</span>
                <span class="icon"></span>
              </div>
              <div class="information">
              	content in here
              </div>
            </div>
          
          	<div class="row attention">
            	<div class="bar">
                <strong>Application form started</strong>
                All sections saved and form submitted
                <span class="more">More...</span>
                <span class="icon"></span>
              </div>
              <div class="information">
              	content in here
              </div>
            </div>
          
          	<div class="row progress">
            	<div class="bar">
                <strong>Interview invitation received</strong>
                from Bob Smith
                <span class="more">More...</span>
                <span class="icon"></span>
              </div>
              <div class="information">
              	content in here
              </div>
            </div>
          
          	<div class="row stopped">
            	<div class="bar">
                <strong>Application under review</strong>
                Admissions committee review
                <span class="more">More...</span>
                <span class="icon"></span>
              </div>
              <div class="information">
              	content in here
              </div>
            </div>
          
          </div><!-- #feedback -->
