          <section class="folding orange">
            <h2 class="empty">
              <span class="left"></span><span class="right"></span><span class="status"></span>
              Qualifications
            </h2>
            <div>
            	<table class="existing">
              	<colgroup>
                	<col style="width: 30px" />
                	<col />
                	<col style="width: 80px" />
                	<col />
                	<col />
                	<col style="width: 30px" />
                	<col style="width: 30px" />
                </colgroup>
              	<thead>
                	<tr>
                  	<th colspan="2">Qualification</th>
                    <th>Grade</th>
                    <th>Awarding Body</th>
                    <th>Date Completed</th>
                    <th colspan="2">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                	<tr>
                  	<td><a class="row-arrow" href="#">-</a></td>
                  	<td>MRes</td>
                  	<td>8.6 GPA</td>
                  	<td>MiT</td>
                  	<td>19/05/12</td>
                  	<td><a class="button-edit" href="#">edit</a></td>
                  	<td><a class="button-close" href="#">close</a></td>
                  </tr>
                	<tr>
                  	<td><a class="row-arrow" href="#">-</a></td>
                  	<td>MSC Electronic Engineering</td>
                  	<td>83%</td>
                  	<td>UCLA Berkeley</td>
                  	<td>19/07/11</td>
                  	<td><a class="button-edit" href="#">edit</a></td>
                  	<td><a class="button-close" href="#">close</a></td>
                  </tr>
                	<tr>
                	  <td><a class="row-arrow" href="#">-</a></td>
                	  <td>BSC Mechanical &amp; Electronic Engineering</td>
                	  <td>1st</td>
                	  <td>University of Durham</td>
                	  <td>04/07/99</td>
                	  <td><a class="button-edit" href="#">edit</a></td>
                	  <td><a class="button-close" href="#">close</a></td>
               	  </tr>
                </tbody>
              </table>
              
              <div class="add buttons">
                <a class="button" href="#">Add Another Qualification</a>
              </div>
              
              <form method="post" action="woooop">

              	<div>
                	<div class="row">
                  	<label class="label">Country</label>
                    <span class="hint"></span>
                    <div class="field">
                      <select class="full">
                        <option>United Kingdom</option>
                      </select>
                    </div>
                  </div>
                	<div class="row">
                  	<label class="label">Institution</label>
                    <span class="hint"></span>
                    <div class="field">
                      <select class="full">
                        <option>Amanpour University</option>
                      </select>
                    </div>
                  </div>
                	<div class="row">
                  	<label class="label">Other</label>
                    <span class="hint"></span>
                    <div class="field">
                    	<input class="full" type="text" value="" />
                    </div>
                  </div>
                	<div class="row">
                  	<label class="label">Course</label>
                    <span class="hint"></span>
                    <div class="field">
                    	<input class="full" type="text" value="" />
                    </div>
                  </div>
                	<div class="row">
                  	<span class="label">Start Date</span>
                    <span class="hint"></span>
                    <div class="field">
	                    <input class="half" type="date" value="" />
                    </div>
                  </div>
                </div>

              	<div>
                	<div class="row">
                  	<label class="label">Country of Study</label>
                    <span class="hint"></span>
                    <div class="field">
                      <select class="full">
                        <option>United Kingdom</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div>
                	<div class="row">
                  	<label class="label">Language of Study</label>
                    <span class="hint"></span>
                    <div class="field">
                      <select class="full">
                        <option>English</option>
                      </select>
                    </div>
                  </div>
                </div>
                
                <div>
                	<p><strong>Qualification</strong></p>
                	<div class="row">
                  	<label class="label">Level</label>
                    <span class="hint"></span>
                    <div class="field">
                      <select class="full">
                        <option>e.g. Vocational, Degree, Diploma etc.</option>
                      </select>
                    </div>
                  </div>

                	<div class="row">
                  	<label class="label">Type</label>
                    <span class="hint"></span>
                    <div class="field">
                      <select class="full">
                        <option>e.g. BEngD, MSc</option>
                      </select>
                    </div>
                  </div>

                	<div class="row">
                  	<label class="label">Grade</label>
                    <span class="hint"></span>
                    <div class="field">
                      <select class="full">
                        <option>e.g. 2.1, Distinction</option>
                      </select>
                    </div>
                  </div>

                	<div class="row">
                  	<label class="label">Score (%)</label>
                    <span class="hint"></span>
                    <div class="field">
                    	<input class="full" type="text" value="" />
                    </div>
                  </div>
                  
                	<div class="row">
                  	<span class="label">Date of Award</span>
                    <span class="hint"></span>
                    <div class="field">
	                    <input class="half" type="date" value="" />
                    </div>
                  </div>

                	<div class="row">
                  	<span class="label">Supporting Document</span>
                    <span class="hint"></span>
                    <div class="field">
                      <input class="full" type="text" value="" />
                      <a class="button" href="#">Browse</a>
                      <a class="button" href="#">Upload</a>
                    </div>	
                  </div>

                	<div class="row">
                  	<label class="label">Description</label>
                    <span class="hint"></span>
                    <div class="field">
                    	<input class="full" type="text" value="" />
                    </div>
                  </div>
                  
                </div>

              	<div class="buttons">
                  <a class="button blue" href="#">Close</a>
                  <button class="blue" type="submit">Save</button>
                </div>

              </form>
            </div>
          </section>
