      <div class="content-box">
      	<div class="content-box-inner">
        
        	<h1>Programme: LoLo EngD</h1>
          <form class="roles">
          
          	<div class="row">
            	<label>Email address</label>
              <input type="text" name="email" />
            </div>

          	<div class="row">
            	<label>Role(s) in application process</label>
              <select multiple size="4">
              	<option>Administrator</option>
              	<option>Approver</option>
              	<option>Interviewer</option>
              	<option>Reviewer</option>
              </select>
            </div>

            <button class="plus"><span></span> Add another</button>

          </form>
          
          <hr>
          
          <table class="data" border="0">
            <colgroup>
              <col style="width: 220px;" />
              <col style="width: auto;" />
              <col style="width: 200px;" />
            </colgroup>
            <thead>
              <tr>
                <th scope="col">Email address</th>
                <th scope="col">Name</th>
                <th scope="col">Role(s)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="col">crispy@quentin.com</td>
                <td scope="col">Quentin Crisp</td>
                <td scope="col">Interviewer, Reviewer</td>
              </tr>
              <tr>
                <td scope="col">rich@kipling.com</td>
                <td scope="col">-</td>
                <td scope="col">Administrator</td>
              </tr>
              <tr>
                <td scope="col">erol@erik.com</td>
                <td scope="col">Errol Erickson</td>
                <td scope="col">Approver, Interviewer</td>
              </tr>
            </tbody>
          </table>

        </div><!-- .content-box-inner -->
      </div><!-- .content-box -->
