      <div class="content-box">
      	<div class="content-box-inner">
        
          <form>
          
          	<div class="row">
            	<label>Select host Department / Institute / Centre</label>
              <select>
              	<option>UCL Energy Institute</option>
              </select>
            </div>

          	<div class="row">
            	<label>Select programme</label>
              <select>
              	<option>LoLo EngD</option>
              </select>
            </div>

          </form>
          
        </div><!-- .content-box-inner -->
      </div><!-- .content-box -->
