@charset "utf-8";

/* REGISTRATION page -------------------------------------------------------------------------------------------- */
#form-box { background: #FFF; border-radius: 8px; box-shadow: 0 0 4px #999; bottom: 30px; left: 35px; padding: 20px; position: absolute; }
#form-box h1 { color: #F30; font-size: 16pt; margin-bottom: 1em; }
#form-box div.row label { float: left; font-weight: bold; width: 150px; }
#form-box div.row div.field { margin-left: 160px; width: 350px; }
#form-box div.row input { margin-bottom: 4px; width: 90%; }
#form-box div.row select { margin-bottom: 4px; width: 92%; }
