
/* Application list ---------------------------------------------------------------------------------- */

table#appliList thead th {
	background: rgb(188,188,188);
	cursor: pointer; 
	padding:12px 2px;
}
table#appliList thead th:nth-child(5) {
	cursor: auto;
}

/* Sorting functionality. */
table#appliList th.sorting {
	background: #59DAFF; /* Old browsers */ 
}
table#appliList th.sortable span { float: right; width: 10px; height: 16px; background:  url(../../images/icon_arrow_sort.png) no-repeat center; margin: 0px 2px 0 3px; }
table#appliList th.sortable.asc span { background-image: url(../../images/icon_arrow_up.png); }
table#appliList th.sortable.desc span { background-image: url(../../images/icon_arrow_down.png); }

/* Form fields inside the table. */
td.applicant-name { white-space: nowrap; } /* name on one line. */
td.applicant-name .applicant-id { display: block; font-size: 10px; }
td.status { text-align: center !important; }


/* Table bar, containing download button and search bar. --------------------------------------------- */
#table-bar { margin-bottom: 10px; margin-top: 10px; position: relative;  }


/* Search box. */
#search-box { background: #FFF; border: 1px solid #AAA; position: relative;  border-radius: 4px; padding: 10px; padding-bottom: 0px; position: relative;
 }
#search-box label { font-weight: bold; }
#search-box input { padding: 4px; width: 240px; height: 17px; margin-bottom: 0px; margin-right:4px;}
#search-box select { padding: 4px; width: 150px; height: auto; margin-bottom: 0px;  margin-right: 6px; }
#search-box select:nth-child(2) { width: 120px; }
#search-box button { margin-top: -2px; }
#search-box .invalid  { display: block; margin-left: 147px; margin-top: 5px; padding: 3px; text-align: left; }
#search-box .filter {
  padding-left: 123px;
  float: left;
  padding-bottom: 10px;

}
#search-box #searchTerm {margin-bottom: 5px; margin-top: 5px;}
#search-box #searchCategory {padding: 4px; height: 28px;}
#search-box .dropdown-toggle {margin-right: 8px;}
div.fetching { text-align: center; font-weight: bold; padding: 5px; }


/* With bootstrap*/

table#appliList th, table#appliList td { padding: 8px 3px; vertical-align: middle; line-height: 15px; }
table#appliList select {width: 113px; margin-bottom: 0;}
table#appliList input[type="checkbox"] { margin-top: 0px;}

/* new actions line/*/
.actions {
  position: absolute;
  left: 10px;
  bottom: 11px;
  float: left;
  padding-right: 10px;
}
.btn-actions {
  margin-top: 2px;
  float: right;
}