@charset "utf-8";
/* CSS Document */

#help-keyword, #help-browse { background: #FFF; font-weight: bold; padding: 20px; margin-bottom: 5px; }

#help-keyword input.search {
	background: url(../images/button_arrow.png) no-repeat 100% -1px;
	border-radius: 10px;
  height: 17px;
	margin-left: 1em;
	padding-left: 20px;
	width: 400px;
}

ul.ui-autocomplete {
	box-shadow: 0 3px 6px #666;
	border-radius: 10px;
	font-size: 9pt;
}
ul.ui-autocomplete .ui-menu-item a {
	border-radius: 10px;
	font-weight: bold !important;
	padding-left: 20px;
}