@charset "utf-8";
/* CSS Document */

/* Reset -------------------------------------------------------------------------------------------------- */
* { font-size: 100%; margin: 0; padding: 0; }


/* Default styling ---------------------------------------------------------------------------------------- */
a { text-decoration: none; }
/*a:focus, a:hover { text-decoration: underline; }*/
body { background: #999; font: 10pt/1 Arial, Helvetica, sans-serif; }
label input { vertical-align: middle; }

.centre { text-align: center; }
.right { text-align: right; }
.row { overflow: visible; }

/* WRAPPER ------------------------------------------------------------------------------------------------ */
#wrapper { background: url(../images/bg_login.jpg) no-repeat 0 55px; margin: 0 auto; width: 950px; }


/* HEADER ------------------------------------------------------------------------------------------------- */
#header { background: url(../images/logo_ucl.png) no-repeat 100% 100%; color: #FFF; font-weight: bold; height: 108px; text-transform: uppercase; }
#header p { padding: 30px 0 0 30px; }


/* MIDDLE ------------------------------------------------------------------------------------------------- */
#middle { }

/* MIDDLE header ------------------------------------------------------------------------------------------ */
#middle > header {
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	padding: 25px 30px 0; overflow: hidden;
}

#middle > header .logo { float: left; margin-right: 30px; }
#middle > header .tagline { color: #727272; float: left; font-size: 18pt; font-weight: bold; margin-top: 15px; width: 300px; }

#middle > header nav { clear: both; height: 29px; line-height: 29px; overflow: hidden; padding-top: 25px; }

#middle > header nav ul { float: left; list-style: none; overflow: hidden; }
#middle > header nav ul li { float: left; margin-right: 6px; }
#middle > header nav ul li a { background: #DCDDDE url(../images/bg_tabs.jpg) repeat-x 0 -30px; color: #FFF; border-radius: 8px 8px 0 0; display: block; font-size: 9pt; font-weight: bold; min-width: 125px; text-align: center; }
#middle > header nav ul li.current a { background-position: 0 0; color: #000; } 

#middle > header nav .user { float: right; font-size: 12pt; }
#middle > header nav .user a.user-logout { font-size: 9pt; margin-right: 5px; }


/* Content area ------------------------------------------------------------------------------------------- */
#content { background: #DCDDDE; padding: 30px; }

#content .content-box { background: #E7E8E9 url(../images/bg_content_box_bottom.gif) repeat-x 0 100%; border-radius: 10px; border: 1px solid #999; box-shadow: 0 0 3px 1px #999; }
#content .content-box-inner { background: url(../images/bg_content_box_top.gif) repeat-x; border-radius: 10px 10px 0 0; padding: 40px 30px; }

#content hr { background: #999; border: none; color: #999; height: 2px; margin: 1em 0; }
#content p { margin-bottom: 1em; }


/* Expandable content bars -------------------------------------------------------------------------------- */
section.folding h2 { background: url("../images/bg_bar.png") repeat-x; border: 2px solid #FFF; border-radius: 11px; box-shadow: 0 0 3px 0 #999; color: #FFF; cursor: pointer; font-weight: bold; height: 20px; line-height: 20px; margin-bottom: 6px; padding-left: 5px; }
section.folding h2 .left { background: url(../images/bg_expand_arrow.png) no-repeat; float: left; height: 11px; margin: 5px 4px 0 0; width: 11px; }
section.folding h2.open .left { background-position: 0 -11px; }
/*
section.folding h2 .right { background: url(../images/bg_bar_right.png) no-repeat; height: 100%; position: absolute; right: 0; width: 16px; }
*/
section.folding h2 .status { background: url(../images/bg_bar_status.png) no-repeat 0 14px; float: right; height: 14px; margin: 3px 3px 0 0; width: 14px; }

/* Bar colours */
section.folding.violet h2 { background-position: 0 0; }
section.folding.purple h2 { background-position: 0 -20px; }
section.folding.red h2 { background-position: 0 -40px; }
section.folding.orange h2 { background-position: 0 -60px; }
section.folding.yellow h2 { background-position: 0 -80px; }
section.folding.green h2 { background-position: 0 -100px; }
section.folding.navy h2 { background-position: 0 -120px; }
section.folding.blue h2 { background-position: 0 -140px; }

/* Bar states */
section.folding h2.tick .status { background-position: 0 0; }
section.folding h2.cross .status { background-position: 0 -15px; }
section.folding h2.empty .status { background-position: 0 -30px; }

/* Expandable content boxes */
section.folding > div { border: 2px solid #999; margin-bottom: 10px; }

section.folding.purple > div, section.folding.purple table.existing, section.folding.purple div.buttons { border-color: #826C7C; }
section.folding.red > div, section.folding.red table.existing, section.folding.red div.buttons { border-color: #650729; }
section.folding.orange > div, section.folding.orange table.existing, section.folding.orange div.buttons { border-color: #F58149; }
section.folding.yellow > div, section.folding.yellow table.existing, section.folding.yellow div.buttons { border-color: #F9CB54; }
section.folding.green > div, section.folding.green table.existing, section.folding.green div.buttons { border-color: #AFBD22; }
section.folding.navy > div, section.folding.navy table.existing, section.folding.navy div.buttons { border-color: #285F93; }
section.folding.blue > div, section.folding.blue table.existing, section.folding.blue div.buttons { border-color: #008898; }


/* Expanding forms ---------------------------------------------------------------------------------------- */
section.folding header { background: #DDD; border-bottom: 1px solid #999; font-weight: bold; padding: 6px; }
section.folding footer { background: #DDD; border-top: 1px solid #999; padding: 6px !important; text-align: right; }

section.folding table.existing { background: #DDD; border-bottom: 1px solid #999; border-collapse: collapse; text-align: left; width: 100%; }
section.folding table.existing th { background: url(../images/bg_table_head.png) repeat-x; }
section.folding table.existing td { background: url(../images/bg_table_row.jpg) repeat-x; }
section.folding table.existing td, section.folding table.existing th { line-height: 25px; padding: 0 3px; vertical-align: middle; }

section.folding .row-arrow { background: url(../images/button_arrow.png) no-repeat; width: 20px; height: 21px; display: inline-block; text-indent: 99px; overflow: hidden; vertical-align: middle; margin-top: -4px; }
section.folding .row-arrow.open { background-position: 0 -21px; }

section.folding form { background: #BBB; padding: 10px; }
section.folding form > div { background: #FFF; border: 1px solid #999; margin-bottom: 2px; padding: 10px; }
section.folding form .row { line-height: 24px; margin-bottom: 2px; }
section.folding form .label { float: left; width: 180px; }
section.folding form .field { margin-left: 205px; }
section.folding form .hint { background: url(../images/button_question.png) no-repeat; width: 20px; height: 20px; float: left; margin-right: 5px; }
section.folding form label.label { font-weight: bold; }
section.folding form input, section.folding form select { padding: 1px 3px; }
section.folding form label input { padding: 0; }

section.folding form .field .full { width: 240px; }
section.folding form .field .half { width: 120px; }
section.folding form .field label { display: inline-block; margin-right: 1em; min-width: 60px; }

section.folding form div.buttons { background: #DDD; border-width: 1px 0 0; margin: 8px -10px -10px; text-align: right; }

section.folding.purple form { background: #E2DEE1; padding: 10px; }
section.folding.purple table.existing, section.folding.purple div.buttons { background: #D5CED3; }

section.folding.purple table.existing th { background-position: 0 0; }


/* FOOTER ------------------------------------------------------------------------------------------------- */
#footer { background: #58595B; color: #BABBBE; font-size: 9pt; text-transform: uppercase; }
#footer ul { list-style: none; margin: 0 20px; overflow: hidden; }
#footer ul li { float: left; margin: 0 10px; }
#footer ul li a { color: #BABBBE; display: block; font-weight: bold; line-height: 42px; }


/* BUTTONS / INDICATORS ----------------------------------------------------------------------------------- */
button, a.button, span.indicator {
	background: url(../images/bg_button.png) repeat-x 0 -20px;
	border: 2px solid #FFF;
	border-radius: 11px;
	box-shadow: 0 0 3px 0 #999;
	color: #FFF;
	cursor: pointer;
	font: bold 8.5pt Arial, Helvetica, sans-serif;
	line-height: 16px;
	padding: 1px 10px;
	text-align: center;
	vertical-align: middle;
}
button.blue, a.button.blue, span.indicator.blue { background-position: 0 0; }
button span { background: url(../images/bg_button_icon.png) no-repeat; display: inline-block; height: 10px; margin-top: -2px; overflow: hidden; text-indent: 999px; vertical-align: middle; width: 10px; }
button.plus span { background-position: 0 -10px; }
a.button { padding-top: 3px; padding-bottom: 3px; /*vertical-align: text-bottom;*/ }
span.indicator { border-width: 1px; padding: 1px 5px; vertical-align: text-bottom; }


/* FORM ELEMENTS ----------------------------------------------------------------------------------------- */
form input { border: 1px solid #999; padding: 5px; }



/* LOGIN page -------------------------------------------------------------------------------------------- */
body#login #middle { background: transparent; height: 685px; position: relative; }
body#login header { background: transparent; left: 35px; padding: 0; position: absolute; top: 35px; width: 40%; }
body#login header .logo { float: none; }
body#login header .tagline { color: #FFF; float: none; font-size: 18pt; line-height: 1.2; text-shadow: #333 0 0 5px; width: auto; }
body#login #blurb { bottom: 70px; font-weight: bold; left: 35px; line-height: 1.2; position: absolute; width: 40%; }
body#login #blurb h2 { color: #024389; font-size: 13pt; margin-bottom: 0.5em; }
body#login #blurb p { font-size: 10.5pt; }

body#login #login-box {
	background: #828386 url(../images/bg_login_box.jpg) repeat-x; /* Old browsers */
	background: -moz-linear-gradient(top, #e6e6e7 0%, #828386 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e7), color-stop(100%,#828386)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e6e6e7 0%,#828386 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e6e6e7 0%,#828386 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e6e6e7 0%,#828386 100%); /* IE10+ */
	background: linear-gradient(top, #e6e6e7 0%,#828386 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e7', endColorstr='#828386',GradientType=0 ); /* IE6-9 */
	border-radius: 10px; color: #58585a; font-size: 8.5pt; font-weight: bold; height: 100px; position: absolute; right: 35px; top: 35px; width: 240px;
}
body#login #login-box form { padding: 10px; }
body#login #login-box p { line-height: 24px; }
body#login #login-box form button { position: absolute; top: 10px; right: 10px; }
body#login #login-box form input { font-size: 8.5pt; margin-top: 3px; width: 208px; }

body#login #register { position: absolute; right: 35px; bottom: 70px; }
body#login #register a { background: url(../images/button_register.png) no-repeat; color: #FFF; display: block; font-size: 16pt; font-weight: bold; height: 70px; line-height: 70px; text-indent: 40px; width: 240px; }
body#login #register a:hover { text-decoration: none; }



/* TABLES ------------------------------------------------------------------------------------------------ */
table.data { border: 1px solid #999; border-bottom: none; border-spacing: 0; border-collapse: collapse; margin-bottom: 20px; width: 100%; }
table.data thead th { cursor: pointer; font-weight: bold; text-align: left; padding: 5px 3px; }
table.data th, table.data td { padding: 3px; vertical-align: middle; }
table.data tr td, table.data tr th { border-bottom: 1px solid #999; }
table.data tbody td { background: url(../images/bg_table_row.jpg) repeat-x 0 100%; }
table.data select { width: 100%; }

table.data thead th.headerSortDown, table.data thead th.headerSortUp { background-color: #06C; color: #FFF; }



#programme-details { overflow: hidden; }
#programme-details .row { line-height: 20px; padding: 3px 0; }
#programme-details .row input { padding: 2px; }
#programme-details .row label { font-weight: bold; display: inline-block; min-width: 140px; }
#programme-details .row label.checkbox { margin-left: 1em; min-width: 0; }
#programme-details .half { width: 50%; float: left; }