<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	 <import resource="Applicant-Emails.xml" />
	<import resource="Reviewers-Emails.xml" />
	<import resource="Interviewers-Emails.xml" />
	<import resource="Referee-Emails.xml" />
	<import resource="Admin-Emails.xml" />
	<import resource="Approver-Emails.xml" /> 
	<import resource="Supervisor-Emails.xml" />
	<import resource="Bean-Definitions.xml" />

	
	<!-- new user notifications -->
	<bean id="newUserNotificationTimerTask" class="com.zuehlke.pgadmissions.timers.NewUserNotificationTask">
		<constructor-arg index="0" ref="sessionFactoryMail" />
		<constructor-arg index="1" ref="newUserMailSender" />
		<constructor-arg index="2" ref="mailUserDAO" />
	</bean>

	<bean id="newUserNotificationSchedule" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="delay" value="4000" />
		<property name="period" value="60000" />
		<property name="timerTask" ref="newUserNotificationTimerTask" />
	</bean>
	
	<!-- The main schedule -->
	<bean class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<ref bean="adminValidationReminderSchedule" />
				<ref bean="adminRejectNotificationSchedule" />
				<ref bean="adminReviewReminderSchedule" />
				<ref bean="refereeReminderSchedule" />
				<ref bean="refereeNotificationSchedule" />
				<ref bean="updateNotificationSchedule" />
				<ref bean="moveToReviewNotificationSchedule" />
				<ref bean="applicantSubmissionNotificationSchedule" />
				<ref bean="adminReviewFeedbackNotificationSchedule" />
				<ref bean="adminSubmissionNotificationSchedule"/>
				<ref bean="reviewerNotificationSchedule"/>
				<ref bean="reviewerReminderSchedule"/>
				<ref bean="newUserNotificationSchedule"/>
				<ref bean="moveToInterviewNotificationSchedule"/>
				<ref bean="moveToRejectNotificationSchedule"/>
				<ref bean="interviewerNotificationSchedule"/>
				<ref bean="interviewerReminderSchedule"/>
				<ref bean="adminInterviewFeedbackNotificationSchedule"/>
				<ref bean="adminInterviewReminderSchedule"/>
				<ref bean="adminAssignedReviewerNotificationSchedule"/>
				<ref bean="moveToApprovalNotificationSchedule"/>
				<ref bean="approverAdminApprovalNotificationSchedule"/>
				<ref bean="supervisorNotificationSchedule"/> 
				<ref bean="adminApprovedNotificationSchedule"/> 
				<ref bean="approverApprovalReminderSchedule"/> 
				<ref bean="moveToApprovedNotificationSchedule"/> 
			</list>
		</property>
	</bean>


	<bean id="sessionFactoryMail"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
		autowire-candidate="false">

		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses" ref="entities" />

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
				<prop key="javax.persistence.validation.mode">NONE</prop>

			</props>
		</property>
	</bean>
</beans>