/* CSS Document */

#programInterviewers, #applicationInterviewers { width: 400px; }
#programInterviewers option, #applicationInterviewers option { border-bottom: 1px solid #999; padding: 5px; }
#programInterviewers option:last-child, #applicationInterviewers option:last-child { border-bottom: none; }

.interviewer-buttons .field { border-top: 2px solid #999; margin-top: 25px; text-align: center; width: 400px; }
.interviewer-buttons .field span { background: #FFF; display: block; margin: -18px auto 0; padding: 4px; width: 315px; }
.interviewer-buttons .field button { margin: 0 5px; /*width: 90px;*/ }
