/* FEEDBACK page ----------------------------------------------------------------------------------------- */

h1, h2 { margin-bottom: 1em; }
form label { display: inline-block; }
form label span { width: 170px; margin-right: 10px; display: inline-block; }

fieldset { border: none; margin-bottom: 2em; }
fieldset legend { font-weight: normal; margin-bottom: 1em; }

select, textarea { width: 500px; }
select[multiple] option { padding: 2px 10px; }

div.slider-container { height: 60px; margin: 0.5em; position: relative; width: 500px; }
div.slider-container span.tick { margin-top: 5px; width: 60px; padding-top: 14px; position: absolute; text-align: center; }

div.slider {
	background: rgb(51,51,51); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OTk5OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(51,51,51,1) 0%, rgba(153,153,153,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,1)), color-stop(100%,rgba(153,153,153,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(153,153,153,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(153,153,153,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(153,153,153,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(153,153,153,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#999999',GradientType=0 ); /* IE6-8 */
	border: none; height: 6px; margin: 0 70px 0 30px;
}
div.slider .ui-slider-handle { background: transparent url(../../../images/slider.png) no-repeat; border: none; height: 16px; width: 16px; }


/* lists of radio buttons. */
.radio-list label { display: block; margin-bottom: 1em; width: 200px; }
.radio-list label input { float: right; }

.radio-row label { display: inline-block; margin-right: 30px; }
.radio-row label input { margin-left: 10px; }

