/* CSS Document */
/*#reasonList { clear: both; margin: 0 10px; padding-top: 15px; }*/
#reasonList ul { list-style-type: none; margin-top: 0.25em; margin-left:0px; }
#reasonList li { margin-bottom: 15px; }
#reasonList input.reason {float: left; margin-left: -24px; margin-top: -1px; vertical-align: middle; }
#reasonList label { display: block; line-height: 1.2; margin-left: 24px; }

.reject-buttons .field { border-top: 2px solid #999; margin-top: 25px; text-align: center; width: 400px; }
.reject-buttons .field span { background: #FFF; display: block; margin: -18px auto 0; padding: 4px; width: 210px; }
.reject-buttons .field button { margin: 0 5px; width: 90px; }

#emailText{ clear:both; border: 1px solid  #999;}
#includeProspectusLink {margin-top:-2px;}