div.buttons { border-width: 1px 0 0; margin: 8px -10px -10px; }
label.label { font-weight: bold; }

.row { line-height: 24px; margin-bottom: 7px; clear: left; }
.label { float: left; line-height: 1.2; /*width: 180px;*/ }
.long-label { float: left; line-height: 1.2; width: 450px; margin-bottom:10px;}

.field { margin-left: 205px; }
.field .max { width: 480px; }
.field .full { width: 240px; }
.field .half { width: 120px; }
.field label { display: inline-block; margin-right: 1em; min-width: 60px; }

.plain-label { float: left; line-height: 1.2; width: 195px; padding-top: 4px; font-weight: normal; }
.registry { float: right; margin-bottom: 10px; clear: both;}

#notifyRegistryButton { margin-bottom: 0; }

#wrapper section div.row { margin-bottom: 0 !important; }


#registryUsers .scroll { max-height: 105px; overflow-x: hidden; overflow-y: auto; width: 360px; }
#registryUsers .scroll table { width: 100%; }
