<html>
	<head>
		<link rel="stylesheet" href="#springTheme('styleSheet')" type="text/css"/>
   </head>
   <body>
		<h2>Zuehlke project holding page</h2>
		<h3>Velocity style</h3>
		<img alt="" src="#springTheme('image')">
	</body>
</html>