<html>
	<head>
		<link rel="stylesheet" href="#springTheme('styleSheet')" type="text/css"/>
   </head>
   <body>
		<h1>Login</h1>
		<form
action="/pgadmissions/login/submit"><br />
Username <input type="text" id="email" name="j_username">  <br />
Password <input type="text" id="password" name="j_password" >  <br />
<input name ="commit" type="submit" value="Sign In" /><br />
</form>
	</body>
</html>